.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

.button {

    width: 456px;
    height: 115.5px;
    stroke: white;

    font-size: 64px;
    font-family: Open Sans;
    color: white;
    

    background-color: #0473B8;
}