.body {
    display: flex;
    height: 100vh;
    margin: 0;
    position: relative;

  }

.topoVermelho {
    width: 600px;
    height: 210px;
    background-color: #E03C3D;
    color: white;
    font-size: 80px;
    font-family: Staatliches;
    text-align: center;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topoAzul {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #0473B8;
    color: white;
    font-size: 64px;
    font-family: Staatliches;
  }

  .ladoAzul {
    
    display: flex;
    width: 242px;
    margin-left: auto;
    margin-right: 0;
    background-color: #0473B8;
    flex: auto;
}